# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Code Editor Stuff
.vscode

# Personal Notes
notes.md

#A list of ip's in a json file for testing (Might not use JSON in the end but thats the most probable thing to use)
iplist.json